<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 21 - Vuejs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <style>
        .fade-enter-active,
        .fade-leave-active {
            transition: .5s;
        }

        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }
    </style>

</head>

<body>
    <div id="app">
        <br><br><br>

        <div class="container">
            <h1>{{titulo}}</h1>

            <select v-model="filme">
                <option value="hp">Harry Potter</option>
                <option value="lor">Senhor dos Anéis</option>
            </select>
        </div>

        <transition name="fade">
            <component :is="filme"></component>
        </transition>
    </div>

    <template id="hp">
        <div>
            <h4>Personagens em Harry Potter</h4>
            <ul>
                <li v-for="item in personagens">{{item.name}}</li>
            </ul>
        </div>
    </template>

    <template id="lor">
        <div>
            <h4>Personagens em Senhor dos Anéis</h4>
            <ul>
                <li v-for="item in personagens">{{item.name}}</li>
            </ul>
        </div>
    </template>

    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.component('hp', {
            template: '#hp',
            data() {
                return {
                    personagens: [
                        { name: 'Severo Snape' },
                        { name: 'Ninfadora Tonks' },
                        { name: 'Minerva Mcgonagall' }
                    ]
                }
            }
        })

        Vue.component('lor', {
            template: '#lor',
            data() {
                return {
                    personagens: [
                        { name: 'Legolas' },
                        { name: 'Aragorn' },
                        { name: 'Sauron' }
                    ]
                }
            }
        })

        var app = new Vue({
            el: "#app",
            data: {
                titulo: "Trabalhando com transições",
                filme: ''
            }
        });
    </script>
</body>

</html>